table, th, td {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 15px;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
th, td {
    padding: 10px;
}